.footer {
    text-align: center;
    padding: 0.2rem 0;
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-text--secondary);
    font-size: 0.9rem;
    position: fixed;
    bottom: 0;
}
