form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

textarea {
    resize: none;
}

.form__tarea,
.form__descripcion {
    padding: 8px;
    border-radius: var(--radius);
    border: 1px solid var(--color-primary);
}

.form__tarea:focus,
.form__descripcion:focus {
    border-color: var(--color-secondary);
    outline: none;
}

.form__btnSubmit {
    padding: 12px 0;
    background-color: var(--color-primary);
    color: var(--color-text--secondary);
    border-radius: var(--radius);
    border: 1px solid var(--color-primary);
    cursor: pointer;
}
