:root {
    --color-bg: #f1faee;
    --color-primary: #188754;
    --color-secondary: #23252a;
    --color-accent: #da3644;
    --color-text: #000000;
    --color-text--secondary: #ffffff;
    --radius: 6px;
    --font: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background: var(--color-bg);
    font-family: var(--font);
    color: var(--color-text);
}
